#header-text{ 
    color:white;
    border-color: black;
    border-style: solid;
    border-width: 6px;
    font-family: 'Space Mono', monospace;
}

.red{
    color: red;
}

.yellow{
    color:yellow;
}

#lego-image{
    width:40%;
    border-width: 10px;
    border-style: solid;
}

#mario-image{
    width:10%;
}

.lego-list{
    font-size:18px;
    background-color: rgb(35, 34, 37);
}

body{
    background-color: rgb(36, 7, 163);
}